html {
    /*background-color: #e6e9e9;
    background: url(/screenshots/cleaned up me.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;*/
    background: url(screenshots/green-bokeh-background-1938.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

title {
    text-align: center;
}

body {
    overflow-x: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

p{
    height: 2125px;
    margin: none;
    border: none;
    font: 15px/2 Georgia, Serif;
}

samp {
    display: none;
}

/*img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}*/
#bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;
    
    
    
}
#bg img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    
    
}
img.bg{
    min-height: 100%;
    min-width: 1024px;
    
    width: 100%;
    height: auto;
    
    
    top: 0;
    left: 0;
    
}
img.bg{
    left: 50%;
    margin-left: -512px;
    
    
    
}
#page-wrap {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
